<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Ebanking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Customers
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="customers">List Customers</a></li>
            <li *ngIf="authservice.roles.includes('ADMIN')">
              <a class="dropdown-item" routerLink="new-customer">New Customer</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown" *ngIf="authservice.roles.includes('ADMIN')">
          <a class="nav-link dropdown-toggle" href="#" id="accountsDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Accounts
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="accountsDropdown">
            <li><a class="dropdown-item" routerLink="accounts">Manage Accounts</a></li>
            <li><a class="dropdown-item" routerLink="list-accounts">List Accounts</a></li>
          </ul>
        </li>
      </ul>


      <ul class="navbar-nav ms-auto" *ngIf="authservice.isAuthenticated">
        <li class="nav-item d-flex align-items-center text-white me-2">
          <button class="btn text-white" (click)="redirection()" style="background: none; border: none;">
            {{ authservice.username }}
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-light" (click)="logout()">Logout</button>
        </li>
      </ul>


    </div>
  </div>
</nav>
