<div class="row">
  <div class="col-6">
    <div class="card">
      <h1 class="card-header"> Account </h1>
      <div class="card-body">
        <form [formGroup]="accountFormGroup" (ngSubmit)="handleSearchAccount()">
          <div class="d-flex">
            <input type="text" class="form-control" placeholder="Account Number" formControlName="accountNumber">
            <button class="btn btn-primary">Search</button>
          </div>
        </form>

        <div *ngIf="account ">
            <h3>Bank account {{account.accountNumber}}</h3>
            <h3>Balance {{account!.balance | number: '1.2-2'}}</h3>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">date</th>
              <th scope="col">amount</th>
              <th scope="col">type</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let op of account.accountOperationDtos">
              <th scope="row">{{op.id}}</th>
              <td>{{ op.date | date :"MM-dd-yyyy" }}</td>
              <td class="text-end">{{ op.amount | number: '1.2-2' }}</td>
              <td>{{op.type}}</td>
            </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation" *ngIf="totalPages > 1">
            <ul class="pagination">
              <li class="page-item" [class.disabled]="page === 1">
                <a class="page-link" (click)="goToPage(page - 1)">Previous</a>
              </li>

              <li class="page-item" *ngFor="let p of [].constructor(totalPages); let i = index" [class.active]="page === i + 1">
                <a class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
              </li>

              <li class="page-item" [class.disabled]="page === totalPages">
                <a class="page-link" (click)="goToPage(page + 1)">Next</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <h5 class="card-header">Operations</h5>
      <div class="card-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="debit-tab" data-bs-toggle="tab" data-bs-target="#debit" type="button" role="tab" aria-controls="debit" aria-selected="true">Debit</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="credit-tab" data-bs-toggle="tab" data-bs-target="#credit" type="button" role="tab" aria-controls="credit" aria-selected="false">Credit</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="transfer-tab" data-bs-toggle="tab" data-bs-target="#transfer" type="button" role="tab" aria-controls="transfer" aria-selected="false">Transfer</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="debit" role="tabpanel" aria-labelledby="debit-tab"><app-debit  [account_number]="account?.accountNumber"></app-debit></div>
          <div class="tab-pane fade" id="credit" role="tabpanel" aria-labelledby="credit-tab" ><app-credit [account_number]="account?.accountNumber"></app-credit></div>
          <div class="tab-pane fade" id="transfer" role="tabpanel" aria-labelledby="transfer-tab" ><app-transfer [account_number]="account?.accountNumber"></app-transfer></div>
        </div>
      </div>
    </div>
  </div>
</div>



