
<ng-container *ngIf="customers | async as listCustomer; else failure">
  <div class="card">
    <h1 class="card-header">
    Les Customers
    </h1>
    <div class="card-body">
      <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
        <label >Keyword </label>
        <input type="text" name="keyword" ngModel>
        <button type="submit">Search</button>
      </form>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of customers | async">
          <th scope="row">{{ c.id }}</th>
          <td>{{ c.name }}</td>
          <td>{{ c.email }}</td>
          <td><button (click)="deleteCustomr(c.id)" class="btn btn-danger">Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</ng-container>

<ng-template #failure>
  <ng-container *ngIf="errorMessage; else loading">
    <div class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </ng-template>

</ng-template>
